<div class="container body-content">

    <h1>@ViewBag.title</h1>

    @{
//TODO #1: Use a loop to display job results in a table.
    }


    @foreach (var job in ViewBag.jobs)
     {
        <table class="table job-listing">
            <tr>
                <td style="text-align:center">ID</td>
                <td style="width:50%">@job.Id</td>
            </tr>
            <tr>
                <td style="text-align:center">Name</td>
                <td style="width:50%">@job.Name</td>
            </tr>
            <tr>
                <td style="text-align:center">Employer</td>
                <td style="width:50%">
                    <a asp-controller="List" asp-action="Jobs" asp-route-column="employer" asp-route-value="@job.Employer">@job.Employer</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">Location</td>
                <td style="width:50%">
                    <a asp-controller="List" asp-action="Jobs" asp-route-column="location" asp-route-value="@job.Location">@job.Location</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">Position Type</td>
                <td style="width:50%">
                    <a asp-controller="List" asp-action="Jobs" asp-route-column="positionType" asp-route-value="@job.PositionType">@job.PositionType</a>
                </td>
            </tr>
            <tr>
                <td style="text-align:center">Skill</td>
                <td style="width:50%">
                    <a asp-controller="List" asp-action="Jobs" asp-route-column="coreCompetency" asp-route-value="@job.CoreCompetency">@job.CoreCompetency</a>
                </td>
            </tr>
        </table>
     }
    </div>